
<div class="container">
  <h1>Book <span>Your Delivery</h1>
  <div class="row">

      <!-- Collection Address -->
    <div class="col-sm-6 grid-item-left medium-width-6">
      <div class="collection">1. Collection Address
        <%= simple_form_for @booking do |b| %>
        <%= b.input :pick_up_postcode, input_html: { id: 'postcode'}, :placeholder => 'Start typing a place name...' %>
        <%= b.button :button, 'Find Address' %>
        <%= b.input :pick_up_contact_name, required: true %>
        <%= b.input :pick_up_contact_email, required: true %>
        <%= b.input :pick_up_company_name, required: true%>
        <%= b.input :pick_up_department, required: true%>
        <%= b.input :pick_up_contact_address, required: true %>
        <%= b.input :pick_up_town, required: true %>
        <%= b.input :pick_up_county, required: true%>
        <%= b.input :pick_up_country, as: :string %>
      </div>
    </div>

      <!-- Delivery Address -->
    <div class="col-sm-6 grid-item-right medium-width-6">
      <div class="collection">2. Delivery Address
        <%= b.input :destination_postcode, input_html: { id: 'postcode'}, :placeholder => 'Start typing a place name...' %>
        <%= b.button :button, 'Find Address' %>
        <%= b.input :destination_contact_name, required: true %>
        <%= b.input :destination_contact_email, required: true %>
        <%= b.input :destination_company_name, required: true%>
        <%= b.input :destination_department, required: true%>
        <%= b.input :destination_contact_address, required: true %>
        <%= b.input :destination_town, required: true %>
        <%= b.input :destination_county, required: true%>
        <%= b.input :destination_country, as: :string %>
      </div>
    </div>
  </div>

    <!-- Additional information -->
  <div class="row">
    <div class="col-sm-12 medium-width-6">
      <div class="collection">3. Additional Information
        <%= b.input :special_requirements %>
        <%= b.input :hazardous_material, collection: ["Yes", "No"] %>
      </div>
    </div>
  </div>

    <!-- Terms and Condittions -->
  <div class="row">
    <div class="col-sm-12 medium-width-6">
      <div class="collection">4. Terms &amp; Conditions </br>

        <p><%= b.check_box :terms_and_conditions %>
          I agree to the <a href="/terms-and-conditions" target="_blank">terms and conditions</a> and <a href="/privacy-policy" target="_blank">privacy policy</a> and confirm that my shipment complies with the <a href="/prohibited-items" class="js-new-window" data-width="465" data-height="550">restricted items list</a>. <a href="/terms-and-conditions" target="_blank">terms and conditions</a><a href="/privacy-policy" target="_blank">privacy policy</a></p>

          <% b.input :quantity, :as => :hidden, :input_html => { :value =>  @quantity } %>
          <% b.input :dimension, :as => :hidden, :input_html => { :value =>  @dimension } %>
          <% b.input :weight, :as => :hidden, :input_html => { :value =>  @weight } %>
          <% b.input :material_type, :as => :hidden, :input_html => { :value =>  @material_type } %>

          <%= b.button :submit, 'Confirm Booking'  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <!-- Javascript for autocomplete on maps to work -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var input_to_pickup_autocomplete = $('#postcode').get(0);

      if (input_to_pickup_autocomplete) {
        var autocomplete = new google.maps.places.Autocomplete(input_to_pickup_autocomplete, { types: ['geocode'] });
        google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
        google.maps.event.addDomListener(input_to_pickup_autocomplete, 'keydown', function(e) {
          if (e.keyCode == 13) {
            e.preventDefault(); // Do not submit the form on Enter.
          }
        });
      }
      });

  </script>
<% end %>





<!-- Page created by Antonio Smith 11/16 -->







