<div class="wrapper">
  <div class="container-main">
    <div class="quote1">
      Add Your Specification
    </div>
    <div class="wrapper-border">
      <div class="container" >
        <div class="other-style">
          <form method="get" action="/couriers" class="form-inline" >
            <div class="form-group">
              <p><label for="quantity" class="">Quantity</label></p>
              <p><input class="form-control" name="quantity" id="quantity" type="text" placeholder="1" value="1"></p>
            </div>
            <div class="form-group">
              <p><label for="weight" class="">Weight</label></p>
              <p><input class="form-control" name="weight" id="weight" type="text"  placeholder="1 kg" value="1"></p>
            </div>
            <div class="form-group">
              <p><label for="Material type" class="">Material type</label></p>
              <p><input class="form-control" name="material_type" id="material_type" type="text"  placeholder="i.e. hazardous"></p>
            </div>
            <br>
            <input type="checkbox" value="yes" data-toggle="collapse" data-target="#collapseExample">
            <span>Check this box if you need courier to supply shipping material.</span>
            <div class="collapse" id="collapseExample">
              <div class="form-group">
                <div>
                  <label for="data_logger">Data Logger</label>
                  <input type="checkbox" id="data_logger" name="data_logger">
                </div>
                <div>
                  <label for="packaging">Packaging</label>
                  <input type="checkbox" id="packaging" name="packaging" >
                </div>
                <div>
                  <label for="shipping-container">Shipping container</label>
                  <input type="checkbox" id="shipping-container" name="shipping_container" >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-border">
    <div class="container-A">
      <% if @couriers %>
        <% @couriers.each do |courier| %>
          <div class="wrapper-courier ">
              <div class="courier-image">
                <p><%= cl_image_tag courier.photo.path, width: 200, height: 100, crop: :fit %></p>
              </div>
              <div class="courier-name">
                <p><b> <%= courier.name %> </b></p>
                <p class="avail">
                  Available for
                  <% if courier.tomorrow %>
                    <span class="label label-warning">tomorrow</span>
                  <% else %>
                    <span class="label label-warning" style="opacity: 0.3">tomorrow</span>
                  <% end %>
                  <% if courier.same_day %>
                    <span class="label label-success">today</span>
                   <% else %>
                    <span class="label label-success" style="opacity: 0.3">today</span>
                  <% end %>
                </p>
              </div>
              <div class="courier-ratings">
                <% rating = rand(5) %>
                <ul class="list-inline" style="margin: 0">
                <% rating.times do %>
                  <li><i class="fa fa-star" style="color: yellow"></i></li>
                <% end %>
                <% (5 - rating).times do %>
                  <li><i class="fa fa-star" style="color: lightgrey"></i></li>
                <% end %>
                </ul>
              </div>
              <div class="courier-price">
                <p><strong>£<span class="unit-price"><%= courier.price_for(params[:temperature]) %></span></strong>
                <span class="times">X</span>
                <span class="amount">1</span> unit
                <span class="times">X</span>
                <span class="weight">1</span> kg
                <span class="times">=</span>
                <span>£<span class="total"><%= courier.price_for(params[:temperature]) %></span></span>
              </div>
              <div class="courier-button">
                <%= simple_form_for @booking do |f| %>
                  <%= f.hidden_field :temperature, value: params[:temperature] %>
                  <%= f.hidden_field :pickup_location, value: params[:pickup_location] %>
                  <%= f.hidden_field :destination_location, value: params[:destination_location] %>
                  <%= f.hidden_field :quantity, id: 'booking-form-quantity' %>
                  <%= f.hidden_field :weight, id: 'booking-form-weight' %>
                  <%= f.hidden_field :material_type, id: 'booking-form-material_type' %>
                  <%= f.hidden_field :data_logger, id: 'booking-form-data-logger' %>
                  <%= f.hidden_field :extra_packaging, id: 'booking-form-packaging' %>
                  <%= f.hidden_field :shipping_container, id: 'booking-form-shipping-container' %>
                  <%= f.hidden_field :amount_pennies, id: 'booking-form-shipping-price' %>
                  <%= f.hidden_field :courier_id, value: courier.id %>
                  <%= f.submit "Book Now", class: "btn btn-success", id: "booking-form-submit-btn" %>
                <% end %>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for (:after_js) do %>
  <script>
  $( '#booking-form-submit-btn' ).click(function(e) {
    e.preventDefault();
    $('#booking-form-quantity').val($('#quantity').val());
    $('#booking-form-weight').val($('#weight').val());
    $('#booking-form-material_type').val($('#material_type').val());
    $('#booking-form-data-logger').val($('#data_logger').val());
    $('#booking-form-packaging').val($('#packaging').val());
    $('#booking-form-shipping-container').val($('#shipping-container').val());

    $('#new_booking').submit();
  });
  </script>
<% end %>
