<div class="wrapper">
  <div class="container-main">
    <h1>Specification and results</h1>
    <div class="quote1">
      Add Your Specification
    </div>
    <div class="wrapper-border">
      <div class="container" style= "margin-top:30px">
        <div class="other-style">
          <form method="get" action="/couriers" class="form-inline" >
            <input type="hidden" name="step" value=2>
            <input type="hidden" name="pickup_location" value="<%= @pickup_location %>">
            <input type="hidden" name="destination_location" value="<%= @destination_location %>">
            <input type="hidden" name="temperature" value="<%= @temperature %>">
            <div class="form-group">
              <p><label for="Quantity" class="">Quantity</label></p>
              <p><input class="form-control" name="quantity" id="Quantity" type="text" placeholder="1, 2, 3, ..."></p>
            </div>
            <div class="form-group">
              <p><label for="Dimension" class="">Dimension</label></p>
              <p><input  class="form-control" name="dimension" id="dimension" type="text"  placeholder="in Volume"></p>
            </div>
            <div class="form-group">
              <p><label for="Weight" class="">Weight</label></p>
              <p><input class="form-control" name="weight" id="weight" type="text"  placeholder="in kg"></p>
            </div>
            <div class="form-group">
              <p><label for="Material type" class="">Material type</label></p>
              <p><input class="form-control" name="material_type" id="Material type" type="text"  placeholder="i.e. hazardous"></p>
            </div>
            <br>
            <input type="checkbox" value="yes" data-toggle="collapse" data-target="#collapseExample">
            <span>Check this box if you need courier to supply shipping material.</span>
            <div class="collapse" id="collapseExample">
              <div class="form-group">
                <div>
                  <label for="data_logger">Data Logger</label>
                  <input type="checkbox" id="data_logger" name="data_logger">
                </div>
                <div>
                  <label for="data_Packaging">Data Packaging</label>
                  <input type="checkbox" id="data_Packaging" name="data_packaging" >
                </div>
                <div>
                  <label for="data-shipping-container">Shipping container</label>
                  <input type="checkbox" id="data-shipping-container" name="data_shipping_container" >
                </div>
              </div>
            </div>
            <div style="text-align:center; margin-bottom:30px">
              <input type="submit" class="btn" value="View Couriers">
            </div>
          </form>
        </div>
      </div>
    </div>
  <div class="quote1">
    Your Comparison results
  </div>

  <div class="wrapper-border">
    <div class="container-A">
      <% if @couriers %>
        <% @couriers.each do |courier| %>
          <div class="wrapper-grey ">
            <div class="courier-information">
              <div class="courier-image">
              <p><%= cl_image_tag courier.photo.path, width: 150, height: 70 %></p>
              </div>
              <div class="courier-name">
                <p><b> <%= courier.name %> </b></p>
              </div>
              <div class="courier-price">
                <p>Courier price</p>
              </div>
              <div class="courier-ratings">
                <p><%= courier.description %></p>
              </div>
              <div class="courier-collection">
                <p>Collection time</p>
               </div>
              <div class="courier-ratings">
                <p>Courier ratings</p>
              </div>
            </div>
            <div class="courier-button">
             <%= link_to "Book Now", new_booking_path, {class: "btn btn-success"} %>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


