
  <%= render 'shared/profile_navbar' %>

<div class="containersettings">
  <h1>Edit your profile</h1>
  <%= form_for(@user) do |f| %>
    <ul class="list-unstyled">
      <li> <%= f.label :company_name, "Enter a company name:" %></li>
      <li> <%= f.text_field :company_name %></li>
      <li> <%= f.label :company_department, "Enter the department:" %></li>
      <li> <%= f.text_field :company_department %></li>
      <li> <%= f.label :contact_person, "Enter a contact person:" %></li>
      <li> <%= f.text_field :contact_person %></li>
      <li> <%= f.label :contact_number, "Enter a contact number:" %></li>
      <li> <%= f.text_field :contact_number %></li>
      <li> <%= f.submit %></li>
    </ul>
  <% end %>
</div>
